In [1]:
# This will import code from the refactored project
import os.path
import sys

python_dir = os.path.abspath('..')
sys.path.append(python_dir)

In [2]:
WORK_DIR = '../../workdir'

# Load raw data for schema discovery

## Load data

In [3]:
from pilotis_io.local import LocalIoApi, LocalPandasApi
from pilotis_io.directory_structure import dataset_raw_dir_path

/Users/victorlandeau/Library/Caches/pypoetry/virtualenvs/bootcamp-2021-01-JvUDATpG-py3.7/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/victorlandeau/Library/Caches/pypoetry/virtualenvs/bootcamp-2021-01-JvUDATpG-py3.7/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
io_api = LocalIoApi(WORK_DIR)
pandas_api = LocalPandasApi(io_api)

In [5]:
dataset_version = '2013-10'

acq_name = 'datahoarder_acquisition'
acq_path = dataset_raw_dir_path(acq_name, dataset_version)

rounds_name = 'datahoarder_rounds'
rounds_path = dataset_raw_dir_path(rounds_name, dataset_version)

invest_name = 'datahoarder_investment'
invest_path = dataset_raw_dir_path(invest_name, dataset_version)

In [6]:
acq_files = io_api.list_files_in_dir(acq_path)
rounds_files = io_api.list_files_in_dir(rounds_path)
invest_files = io_api.list_files_in_dir(invest_path)

In [7]:
acq = pandas_api.load_pandas_dataset(acq_files, encoding='unicode_escape')
rounds = pandas_api.load_pandas_dataset(rounds_files, encoding='unicode_escape')
invest = pandas_api.load_pandas_dataset(invest_files, encoding='unicode_escape')

/Users/victorlandeau/Library/Caches/pypoetry/virtualenvs/bootcamp-2021-01-JvUDATpG-py3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until

## Explore data

In [8]:
acq.head()

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_code,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,acquired_quarter,acquired_year,price_amount,price_currency_code
0,/company/1000memories,1000memories,web,USA,CA,SF Bay,San Francisco,/company/ancestry-com,Ancestry,ecommerce,USA,UT,Salt Lake City,Provo,2012-10-03,2012-10,2012-Q4,2012.0,NaN,USD
1,/company/100plus,100Plus,analytics,USA,CA,SF Bay,San Francisco,/company/practice-fusion,Practice Fusion,health,USA,CA,SF Bay,San Francisco,2013-02-27,2013-02,2013-Q1,2013.0,NaN,USD
2,/company/10best,10best,web,USA,SC,Greenville,Greenville,/company/nile-guide,NileGuide,travel,USA,CA,SF Bay,San Francisco,2011-01-25,2011-01,2011-Q1,2011.0,NaN,USD
3,/company/10east,10East,network_hosting,USA,FL,Jacksonville,Jacksonville,/company/railcar-management,Railcar Management,enterprise,NaN,NaN,unknown,NaN,2009-04-14,2009-04,2009-Q2,2009.0,NaN,USD
4,/company/12society,12Society,ecommerce,USA,CA,Los Angeles,West Hollywood,/company/quarterly,Quarterly,web,USA,CA,Los Angeles,West Hollywood,2013-07-03,2013-07,2013-Q3,2013.0,NaN,USD

In [9]:
rounds.head()

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/waywire,#waywire,news,USA,NY,New York,New York,series-a,2012-06-30,2012-06,2012-Q2,2012,1750000.0
1,/company/n-plusn,#NAME?,software,USA,NY,New York,New York,angel,2012-08-29,2012-08,2012-Q3,2012,600000.0
2,/company/club-domains,.Club Domains,software,USA,FL,Fort Lauderdale,Oakland Park,series-b,2013-05-31,2013-05,2013-Q2,2013,7000000.0
3,/company/0xdata,0xdata,analytics,USA,CA,SF Bay,Mountain View,venture,2013-01-03,2013-01,2013-Q1,2013,1700000.0
4,/company/1-800-dentist,1-800-DENTIST,health,USA,CA,Los Angeles,Los Angeles,venture,2010-08-19,2010-08,2010-Q3,2010,NaN

In [10]:
len(rounds)

31679

In [11]:
len(rounds[['company_name']].drop_duplicates())

17622

In [12]:
all_unique_rounds = rounds[['company_name', 'funded_at']].drop_duplicates()

In [13]:
invest.head()

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0

In [14]:
len(invest)

52870

In [15]:
len(invest[['company_name']].drop_duplicates())

11574

In [16]:
len(invest[['company_name', 'funded_at']].drop_duplicates())

19096

In [17]:
all_unique_invest = invest[['company_name', 'funded_at']].drop_duplicates()

In [18]:
invest_and_rounds_joined = all_unique_invest \
    .set_index(['company_name', 'funded_at']) \
    .assign(invest=1) \
    .join(
    all_unique_rounds \
        .set_index(['company_name', 'funded_at']) \
        .assign(rounds=1), how='outer')
invest_and_rounds_joined

                          invest  rounds
company_name  funded_at
#waywire      2012-06-30     1.0     1.0
0xdata        2013-01-03     1.0     1.0
1-800-DENTIST 2010-08-19     1.0     1.0
1000memories  2010-01-01     1.0     1.0
              2011-02-16     1.0     1.0
...                          ...     ...
ZYOMYX        2013-07-11     NaN     1.0
Zyrra         2010-12-15     NaN     1.0
              2012-10-18     NaN     1.0
[x+1]         2009-08-17     NaN     1.0
_Shwrm       2013-01-01     NaN     1.0

[31409 rows x 2 columns]

In [19]:
invest_and_rounds_joined.sum()

invest    19269.0
rounds    31406.0
dtype: float64

In [20]:
len(invest_and_rounds_joined)

31409

In [21]:
rounds.funding_round_type.value_counts()

venture           7941
angel             6644
series-a          6523
series-b          3460
series-c+         3361
other             2921
private-equity     757
post-ipo            42
crowdfunding        30
Name: funding_round_type, dtype: int64

In [22]:
invest.funding_round_type.value_counts()

series-a          13938
series-c+         10870
angel              8989
venture            8917
series-b           8794
other               964
private-equity      357
post-ipo             33
crowdfunding          5
Name: funding_round_type, dtype: int64

In [23]:
angels = invest[invest.funding_round_type == "angel"][["company_name"]].drop_duplicates()
seriesA = invest[invest.funding_round_type == "series-a"][["company_name"]].drop_duplicates()
seriesB = invest[invest.funding_round_type == "series-b"][["company_name"]].drop_duplicates()
seriesC = invest[invest.funding_round_type == "series-c+"][["company_name"]].drop_duplicates()
ventures = invest[invest.funding_round_type == "venture"][["company_name"]].drop_duplicates()

In [24]:
angels.set_index("company_name").assign(angel=1).join(
    seriesA.set_index("company_name").assign(seriesA=1),
    how="left").join(
    seriesB.set_index("company_name").assign(seriesB=1),
    how="left").join(
    seriesC.set_index("company_name").assign(seriesC=1),
    how="left").join(
    ventures.set_index("company_name").assign(ventures=1),
    how="left").sum()

angel       2977.0
seriesA      651.0
seriesB      223.0
seriesC       94.0
ventures     183.0
dtype: float64

In [25]:
651 / 2977.

0.21867651998656365

In [26]:
seriesA.set_index("company_name").assign(seriesA=1).join(
    seriesB.set_index("company_name").assign(seriesB=1),
    how="left").join(
    seriesC.set_index("company_name").assign(seriesC=1),
    how="left").join(
    ventures.set_index("company_name").assign(ventures=1),
    how="left").sum()

seriesA     4590.0
seriesB     1565.0
seriesC      724.0
ventures     578.0
dtype: float64

In [27]:
1565.0 / 4590.0

0.340958605664488

In [28]:
angels.head()

    company_name
3       ZoopShop
6       Acclaimd
8       ToVieFor
9       OHK Labs
11  peerTransfer

In [29]:
rounds[rounds.funding_round_type == "angel"]

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
1,/company/n-plusn,#NAME?,software,USA,NY,New York,New York,angel,2012-08-29,2012-08,2012-Q3,2012,600000.0
7,/company/1000memories,1000memories,web,USA,CA,SF Bay,San Francisco,angel,2010-01-01,2010-01,2010-Q1,2010,15000.0
12,/company/100plus,100Plus,analytics,USA,CA,SF Bay,San Francisco,angel,2011-11-30,2011-11,2011-Q4,2011,750000.0
14,/company/10bestthings,10BestThings,web,USA,OH,Cleveland,Cleveland,angel,2009-04-01,2009-04,2009-Q2,2009,50000.0
18,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2012-02-06,2012-02,2012-Q1,2012,14000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31661,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,angel,2007-01-01,2007-01,2007-Q1,2007,NaN
31670,/company/zypsee,Zypsee,transportation,USA,CT,New York,Stamford,angel,2013-08-13,2013-08,2013-Q3,2013,1400000.0
31671,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,angel,2010-12-15,2010-12,2010-Q4,2010,875000.0
31672,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,angel,2010-11-15,2010-11,2010-Q4,2010,445000.0
31678,/company/shwrm,_Shwrm,software,USA,FL,Gainesville,Gainesville,angel,2013-01-01,2013-01,2013-Q1,2013,50000.0

In [30]:
rounds[rounds.company_name == "Zynga"][["funding_round_type", "funded_at", "raised_amount_usd"]].set_index(
    "funded_at").sort_index()

           funding_round_type  raised_amount_usd
funded_at
2007-01-01              angel                NaN
2008-01-01           series-a         10000000.0
2008-02-12           series-a          5026000.0
2008-07-18           series-b         25000000.0
2009-11-04           series-b         15187000.0
2010-04-24           series-b         15000000.0
2010-06-14           series-b        300000000.0
2011-02-18          series-c+        490000000.0

In [31]:
invest[invest.company_name == "Zynga"][
    ["funding_round_type", "funded_at", "raised_amount_usd", "investor_name"]].set_index("funded_at").sort_index()

,funding_round_type,raised_amount_usd,investor_name
funded_at,,,
2007-01-01,angel,NaN,Reid Hoffman
2008-01-01,series-a,10000000.0,Union Square Ventures
2008-01-01,series-a,10000000.0,Bob Pittman
2008-01-01,series-a,10000000.0,SV Angel
2008-01-01,series-a,10000000.0,Brad Feld
2008-01-01,series-a,10000000.0,Pilot Group
2008-01-01,series-a,10000000.0,Reid Hoffman
2008-01-01,series-a,10000000.0,Foundry Group
2008-01-01,series-a,10000000.0,Andy Russell
2008-01-01,series-a,10000000.0,Clarium Capital
2008-01-01,series-a,10000000.0,Avalon Ventures
2008-01-01,series-a,10000000.0,Peter Thiel
2008-02-12,series-a,5026000.0,Foundry Group
2008-02-12,series-a,5026000.0,Union Square Ventures
2008-02-12,series-a,5026000.0,Avalon Ventures
2008-07-18,series-b,25000000.0,Foundry Group
2008-07-18,series-b,25000000.0,Institutional Venture Partners
2008-07-18,series-b,25000000.0,Kleiner Perkins Caufield & Byers
2008-07-18,series-b,25000000.0,Avalon Ventures
2008-07-18,series-b,25000000.0,Union Square Ventures
2009-11-04,series-b,15187000.0,Kevin Rose
2009-11-04,series-b,15187000.0,Digital Sky Technologies
2009-11-04,series-b,15187000.0,Tiger Global Management
2009-11-04,series-b,15187000.0,Andreessen Horowitz
2009-11-04,series-b,15187000.0,Institutional Venture Partners
2010-06-14,series-b,300000000.0,Google
2010-06-14,series-b,300000000.0,SoftBank Capital
2011-02-18,series-c+,490000000.0,Kleiner Perkins Caufield & Byers
2011-02-18,series-c+,490000000.0,Fidelity Investments
2011-02-18,series-c+,490000000.0,T. Rowe Price
2011-02-18,series-c+,490000000.0,Morgan Stanley